body{
	background-image: url('../img/fondo.jpg');
}
.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.topnav a:hover {
  background-color: #FC3927;
  color: black;
}

.fnuevo_articulo{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    opacity: 0.9;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

input[type=text], textarea, input[type=date]{
	width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; /
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #FC3927;
}